In [120]:
import pandas as pd
from sodapy import Socrata
import numpy as np
import math

from tqdm import tqdm

In [75]:
df = pd.read_pickle('./complaints.pkl')

In [93]:
df.complaints[0]['url']

'https://data.cityofchicago.org/resource/fypr-ksnz.csv?street_number=1%20and%20direction=%27S%27%20and%20street_name=%27FINANCIAL%27%20and%20street_type=%27PL%27'

In [94]:
len(client.get('fypr-ksnz'))

1000

In [95]:
import requests

In [110]:
response = df

In [107]:
response = df1.append(pd.read_csv('https://data.cityofchicago.org/resource/fypr-ksnz.csv?street_number=1%20and%20direction=%27S%27%20and%20street_name=%27FINANCIAL%27%20and%20street_type=%27PL%27'))

In [109]:
response

,complaint_id,complaint_type,address,street_number,street_number_to,direction,street_name,street_type,inspector,complaint_date,complaint_detail,inspection_log,data_source,modified_date,latitude,longitude,location
0,DOECOMP50,Air Pollution Work Order,1 S FINANCIAL PL,1,NaN,S,FINANCIAL,PL,55,2000-03-29T00:00:00.000,CHICAGO BOARD OPTION EXCHANGE THERE IS A...,MORE INFORMATION MAY BE AVAILABLE IN THE CDPH ...,HISTORIC DEPT. OF ENVIRONMENT,2012-01-01T00:00:00.000,NaN,NaN,NaN
0,DOECOMP50,Air Pollution Work Order,1 S FINANCIAL PL,1,NaN,S,FINANCIAL,PL,55,2000-03-29T00:00:00.000,CHICAGO BOARD OPTION EXCHANGE THERE IS A...,MORE INFORMATION MAY BE AVAILABLE IN THE CDPH ...,HISTORIC DEPT. OF ENVIRONMENT,2012-01-01T00:00:00.000,NaN,NaN,NaN

In [ ]:
response = None
for i in tqdm(range(df.shape[0])):
    if type(response) != type(pd.DataFrame):
        response = pd.read_csv(df.complaints[i]['url'])
    else:
        print(response)
        response.append(pd.read_csv(df.complaints[i]['url']))

  1%|          | 216/35116 [11:24<40:16:39,  4.15s/it]